<tr class="row">
  <td class="col-md-1">
    <input
      readonly
      class="text-muted"
      [(ngModel)]="product.id"
      name="id"
      type="text"
      editable="false"
    />
  </td>
  <td class="col-md-1">
    <input [(ngModel)]="product.catId" name="catId" type="text" />
  </td>
  <td class="col-md-2">
    <input [(ngModel)]="product.author" name="author" type="text" />
  </td>
  <td class="col-md-3">
    <input [(ngModel)]="product.title" name="title" type="text" />
  </td>
  <td class="col-md-1">
    <input [(ngModel)]="product.price" name="price" type="text" />
  </td>
  <td class="col-md-1">
    <input [(ngModel)]="product.stock" name="stock" type="text" />
  </td>
  <td class="col-md-1">
    <input [(ngModel)]="product.featured" name="featured" type="text" />
  </td>
</tr>
<tr class="row">
  <td class="col-md-6">
    <textarea
      [(ngModel)]="product.description"
      name="description"
      type="text"
    ></textarea>
  </td>
  <td class="col-md-3">
    <input [(ngModel)]="product.image" name="image" type="text" />
  </td>
  <td class="col-md-3">
    <app-button-block></app-button-block>
  </td>
</tr>
