<div class="row">
  <div class="col-12">
    <div class="row input-group mb-4">
      <div class="col-1 input-group-prepend">
        <label class="input-group-text" for="sortFilterKeySelect"
          >Keresés</label
        >
      </div>
      <div class="col-2">
        <select
          [(ngModel)]="filterKey"
          class="custom-select"
          id="sortFilterKeySelect"
        >
          <option value="title">Név</option>
          <option value="author">Szerző</option>
          <option value="description">Leírás</option>
        </select>
      </div>
      <div class="col-1 input-group-prepend">
        <label class="input-group-text">mezőben:</label>
      </div>
      <div class="col-8">
        <input
          [(ngModel)]="phrase"
          type="text"
          class="form-control"
          name="search-field"
        />
      </div>
    </div>

    <table>
      <thead>
        <tr class="row">
          <th class="col-1" *ngFor="let key of keys">
            {{ key }}
          </th>
        </tr>
      </thead>
      <tbody class="row">
        <div class="products" *ngFor="let product of products$ | async">
          <app-data-block [product]="product" [keys]="keys"></app-data-block>
        </div>
      </tbody>
    </table>
  </div>
</div>
