<div class="container">
  <div class="row">
    <div>
      <h4>Üdvözöljük az {{ configService.appName }} webáruházban!</h4>
    </div>
    <div>
      <span>
        <h5>
          Kiemelt ajánlataink
        </h5>
      </span>
      <app-product-block [products]="products | random | featured | firstFew:5 "></app-product-block>
    </div>
    <div><span>
      <h5>
        Akciós könyvek
      </h5>
      </span>
      <app-product-block [products]="products | random | firstFew:5 "></app-product-block>
    </div>
  </div>
</div>
